<h1>Make A New Link<h1>

<form action='/links' method='post'>
  <input type='text' name='title' placeholder='Title'>
  <br>
  <input type='text' name='url' placeholder='URL'>
  <br>
  <input type='text' name='tags' placeholder='Tags separated by spaces'>
  <br>
  <input type='submit' value='Create link'>
</form>